
.nav-container {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
}

#dropdownBasic1:hover {
  cursor: pointer;
  color: #0371e6;
}

#dropdownBasic1 {
  color: #007bff;
}


