<nav class="nav-container">
  <!-- <div class="container-fluid"> -->
  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand">
      <img src="assets/tonka truck.jpg" width="35" height="30" alt="">
    </a>
  </div>
  <!-- <div *ngIf="isMobile"> -->
    <div routerLinkActive="active" class="nav-item">
      <a routerLink="/contact-info" class="nav-link">Contact & Resume</a>
    </div>
    <div routerLinkActive="active" class="nav-item">
      <a routerLink="/guest-book" class="nav-link">Guest Book</a>
    </div>

    <div ngbDropdown class="nav-item d-inline-block">
      <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Tools</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button routerLink="/directions" ngbDropdownItem>Directions</button>
        <button routerLink="/price-markup" ngbDropdownItem>Price Markup</button>
      </div>
    </div>
  <!-- </div> -->

</nav>
