<div class="container">
  <h3>Guest Book</h3>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <form #f="ngForm" (ngSubmit)="addGuest()">
        <div class="form-group required">
          <label class="" for="guest">Guest Name</label>
          <input autocomplete="off" required class="form-control" ngModel name="guest" type="text">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" ngModel name="comment" type="text" rows="1"
            placeholder="Leave a comment for Noah... (Optional)"></textarea>
        </div>
        <button [disabled]="!f.valid" class="btn btn-outline-success" type="submit">Sign Guest Book</button>
      </form>
      <hr>
      <div style="margin: auto; margin-top: 1.2rem;" class="row">
        <div class="alert alert-primary">
          <b>Note:</b> Entries are stored on a backend server powered by Firebase and will be visible to all PlayGround
          visitors
        </div>
      </div>

    </div>
    <div class="col-md-7">
      <div id="parchment" style="background-color: #f2eecb; min-height: 20rem" class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Guest Book</h5>
          <hr>
          <app-loading-spinner *ngIf="isLoading" class="text-center"></app-loading-spinner>
          <div *ngIf="!isLoading">
            <p *ngFor="let e of entries"><b>{{e.guest}}</b>{{ (e.comment ? ' - ' + e.comment : '') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>