
.contact__container {
  display: flex;
  margin: 2rem auto;
}

.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 1.75rem;
}

#contact__icons {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

img {
  object-fit: cover;
}

fa-icon {
  font-size: 32px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
 .container {
   max-width: 800px;
 }
}

@media only screen and (max-width: 767px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact__icons{
    flex-direction: row;
  }

  fa-icon {
    padding: 1rem;
  }

  .contact__box {
    padding: 0rem;
    margin-bottom: 1.75rem;
  }
}
