
#contactCard{
  transition: 0.1s;
  border: 2px solid  rgba(18, 4, 216, 0.2);
}

#contactCard:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.card_action {
  width: 75%;
  text-align: center;
}

.blue {
  background-color: rgb(208, 232, 253);
  width: 100%;
}

.card-columns {
  column-count: 3;
}

.card-img-top {
  height: 300px;
}

img {
  max-height: 200px;
  width: auto;
  // object-fit: cover;
  margin: auto;
  padding: 1.75rem;
}

@media only screen and (max-width: 1000px) {
  .card-columns {
    column-count: 1;
  }
  .card {
    margin-bottom: 1rem;
  }
}
