<div class="">
  <div class="container">
    <h3>Welcome to the PlayGround 1.0.1</h3>
    <p class="lead">On this page, you can engage with some of the professional and academic projects I have been working on.
      Make sure to check out the rest of the PlayGround, and sign the <a routerLink="guest-book">Guest Book</a>  too!
    </p>
    <hr>
  </div>
</div>

  <div class="card-deck">

    <div id="contactCard" class="card text-center">
      <img class="card-img-top" src="../../assets/burger2.png" alt="recipe book">
      <div class="card-body">
        <h5 class="card-title">Angular Recipe Book App</h5>
        <p class="lead">Built with Angular 9, this application is the culmination of a 33-hour course by Udemy.com. I
          utilized routing, services, NgRx, authentication, and more.
        </p>
        <a style="margin: 1rem" class="btn btn-primary" target="_blank" href="https://ng-course-recipe-book-87fed.web.app/">Go To
          Application</a>
      </div>
    </div>

    <div id="contactCard" class="card text-center">
      <img class="card-img-top" src="../../assets/Zuudoo-01_trimmed.png">
      <div class="card-body">
        <h5 class="card-title">Zuudoo.com</h5>
        <p class="lead">As an intern at the exciting startup Zuudoo.com, Software Engineer, Front-end Developer, and
          Director of QA were just a few of my many titles.</p>
        <a style="margin: 1rem" class="btn btn-success" target="_blank" href="https://www.zuudoo.com/">Check out Zuudoo!</a>
      </div>
    </div>
    <div id="contactCard" class="card text-center">
      <img class="card-img-top" src="../../assets/overflow.png">
      <div class="card-body">
        <h5 class="card-title">COMP 535 Final Paper</h5>
        <p class="lead">This essay, written for a course in Computer Security, explores buffer overflow attacks and
          countermeasures used to
          prevent this common exploit. </p>
        <a style="margin: 1rem" class="btn btn-secondary" target="_blank" href="../../assets/Merenbloom_Noah_ 535.pdf">Learn about Buffer
          Overflows</a>
      </div>
    </div>
  </div>
