<div class="container">
  <h3>Contact & Resume</h3>
  <hr>
  <div class="contact__container">
    <div class="contact__box">
      <img src="../../assets/headshot recent.jpg" alt="Photo of Noah">
    </div>
    <div class="contact__box">
      <h5>Noah Merenbloom</h5>
      <p class="lead">nmerenbloom@gmail.com</p>
      <p class="lead">(919)-961-7770</p>
      <a target="_blank" href="../../assets/Noah_Merenbloom_Resume.pdf">Download Resume</a>
    </div>
    <div id="contact__icons" class="contact__box">
      <a href="https://www.linkedin.com/in/nmerenbloom/" target="_blank">
        <fa-icon style="color: #2867B2" [icon]="faLinkedin" [fixedWidth]="true"></fa-icon>
      </a>
      <br>
      <a href="https://github.com/nmerenbloom" target="_blank">
        <fa-icon style="color: rgb(52, 54, 56)" [icon]="faGithub" [fixedWidth]="true"></fa-icon>
      </a>
    </div>
    <div class="contact__box">
      <img src="../../assets/UNC.jpg" style="max-width: 300px;" alt="">
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <img src="../../assets/costar.jpg" style="max-width: 500px;" alt="">
    <img class="p-4" src="../../assets/usfs.png" style="max-width: 500px;" alt="">
  </div>
  <br>
</div>